.navbar-nav {
  flex-direction: row !important;
}
.nav-item {
  color: var(--text);
  padding: 8px 15px;
}

.login {
  padding-top: 15px;
}

.navbar.bg-dark {
  background-color: var(--bg-dark) !important;
}
a {
  display: flex;
  color: var(--text) !important;
}

.nav-link.active {
  background-color: var(--primary-colour);
  border-radius: 5px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  color: black !important;
}
